header.tape.flex
  .chapter.flex Chapter 1
  .chaptername My notes on JavaScript

main.leaf.flex
  .inner.justify
    h1  Introduction
    p
      | JavaScript was created in the year 1995.
    p
      | More than 20 years ago!
    p
      | Brendan Eich, its original designer meant it for use in the browser (like Firefox, Brave or Chrome) only, but JavaScript has since, especially during the recent years, grown into full fledged programming language that runs both on server side and the browsers.
    p
      | This quality of JavaScript, to be able to execute code both on client side and server, puts it in a very unique position that developers of no other programming language can enjoy: ability to write both frontend and backend code.
    p
      |  Efficient and readable code that just works.
