.leaf.flex
  .inner.justify
    .title
      p.center.first My notes on
      h1.headline JavaScript
      p.center.second 2018
    .container.flex
      .circle-area
        .inner-circle.small.flex
        .inner-circle.middle
        .inner-circle.large
        .ball-bearing
          #propeller
            span
            span
            span
      .background-border.top
      .background-border.center
      .background-border.bottom
    .footnote
      .font-area.flex
        span.logo-border
        p.slogan Volume I
        span.logo-border
      p.author
        a(href: "http://twitter.com/marvindanig") @marvindanig
      p.year 2016 to Date.now()