<div class="leaf flex">
    <div class="inner justify ">
        <h1> Introduction </h1>
        <p>
            JavaScript was created in the year 1995.
        </p>
        <p>
            It was originally designed to run only in browsers - like the NetScape, IE or Firefox - but has in recent years grown into full fledged programming language that can run both on the server-side and the client.
        </p>
        <p>
            This puts javascript in a very unique position that developers of no other programming language can claim, nor enjoy: The ability to write code both for front and backend <em>and</em> create apps that are cross-platform and yet efficient.

            https://auth0.com/blog/a-brief-history-of-javascript/
        </p>
    </div>
</div>
