<div class="leaf flex">
  <div class="inner justify">
    <p> Javascript is a loosely typed language and that makes it very easy to pick up and start using in real applications. In this book we'll be taking a very practical approach to learning javascript and cover almost the entire ground. </p>
  </div>
</div>
